{% extends 'base.html' %}
{% load static %}

{% block head_title %}Delete Report{% endblock %}

{% block content %}
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h1 class="h4 mb-0">Delete Report</h1>
                </div>
                <div class="card-body">
                    <p class="mb-4">Are you sure you want to delete the report "{{ object.name }}"?</p>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'jobs:admin_analytics' %}" class="btn btn-outline-secondary">Cancel</a>
                            <button type="submit" class="btn btn-danger">Delete Report</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 